<nav class="header bg-blue-100 shadow-md grid grid-cols-2 w-screen h-30">

  <div class="fw-semibold text-slate-800 text-md mt-2 mb-2">Made with <i
    class="m-1 bi text-red-600 bi-suit-heart-fill transition ease-in-out delay-100 duration-300 hover:text-red-800"></i> by Patrick
  </div>

  <div class="flex flex-row">
    <a href="https://github.com/Padraig20/NLP_admissionNotes" class="hover:cursor-pointer">
      <img ngSrc="./assets/img/github.png" alt="Github" height="30" width="30">
    </a>
    <span class="m-2"></span>
    <a href="https://www.linkedin.com/in/patrick-styll-009286244/?originalSubdomain=at" class="hover:cursor-pointer">
      <img ngSrc="./assets/img/linkedin.png" alt="Github" height="30" width="30"
           href="https://www.linkedin.com/in/patrick-styll-009286244/?originalSubdomain=at">
    </a>
  </div>

</nav>
