.header {
  /* HeaderOld */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 54px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  /* Logo */
  width: auto;
  height: 36px;
}

.buttons {
  /* Buttons */


  /* Auto layout */

  display: flex; // has to be inline block to hug contents (or an <a> flexbox)
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: bottom;
  padding: 16px 0;
  gap: 30px;
}

.single-button {

  /* Auto layout */

  //display: inline-block; // has to be inline block to hug contents (or an <a> flexbox)
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.text-in-button {
  /* Resources */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding-right: 8px;
  /* identical to box height, or 100% */

  display: inline-block;
  align-items: flex-end;
  vertical-align: bottom;
  align-self: flex-end;

  color: #162E51;
}

a {
  text-decoration: none;
}
