.jumbotron {
  background: none
}

.whitebox {
  /* White Box */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px 40px !important;
  gap: 10px;

  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #CDE2F0;
  height: 4px;
}

.inputfield {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 2px;
  padding: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

::placeholder {
  color: #235491;
  font-size: 14px;
  opacity: 60%;
  font-weight: normal;
}

.text-in-button {
  /* Resources */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding-right: 8px;
  /* identical to box height, or 100% */

  color: #162E51;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.mainsearch__cat {
  position: sticky;
  top: 4px;
  background: #fff;
  padding: 15px 40px;
  z-index: 126;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
  width: 100%;
}

.filter__categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.filter__categories li {
  list-style: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #235491;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.filter__categories li.filter__active {
  background-color: #162E51;
  color: white;
}

.pagination-controls ::ng-deep .ngx-pagination {
  @apply divide-x m-0 rounded border border-slate-300 justify-center w-fit block #{!important};
  padding-left: 0!important;

  ul.ngx-pagination {
    @apply justify-center w-fit p-5;
    padding-left: 0!important;
  }

  li {
    @apply mr-0 hover:bg-slate-100 first:rounded-l last:rounded-r text-slate-800 justify-center w-fit no-underline;

    &.disabled {
      @apply cursor-not-allowed text-slate-500 hover:bg-transparent;
    }

    &.current {
      @apply text-slate-500 bg-blue-100 hover:cursor-not-allowed;
    }

    a:hover {
      @apply bg-transparent;
    }
  }
}

.whitebox {
  /* White Box */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;

  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#CDE2F0;
  height: 4px;
}

.inputfield {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: rgba(205, 226, 240, 0.4);
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.reg {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;

  width: 199px;
  height: 41px;

  background: #0071BC;
  border: 1px solid #162E51;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

::placeholder {
  color: #235491;
  opacity: 0.6;
  font-size: 14px;
}

.text-in-button {
  /* Resources */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding-right: 8px;
  /* identical to box height, or 100% */

  color: #162E51;
}
.textarea-like {
  resize: vertical;
  overflow-y: auto;
}

.highlight {
  background-color: #c8f7c5; /* Green background color */
  color: #006400; /* Dark green text color */
  font-weight: bold; /* Bold text */
}
