/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #F0F8FF !important;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
@import 'ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#toast-container {
  position: fixed;
  z-index: 999999;
  top: unset;
  left: 20px; /* Adjust the value as needed */
  bottom: 0; /* Adjust the value as needed */
  /*overrides*/
}

.ngx-toastr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
